
.header a:hover {
    background-color: goldenrod;
}
.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
} 
.header li {
    float: right;
}
.header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.header div ul li {
    font-size: 25px;
    margin-left: 20px;
    display: inline-block;
}

@media all and (max-width: 600px) {
    h1 {font-size: 40px;}
    .header div ul li {font-size: 15px;}
}

@media all and (max-width: 375px) {
    h1 {font-size: 40px;}
    .header div ul li {font-size: 10px;
    margin-left: 0px;}
}
