.photo-box{
    display: flex;
    justify-content: center;
    text-align: justify;
    margin-top: 5%;
    
}
.innerBox {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    margin-top: 5%;
}

.photo {
    margin-top: 8%;
    margin-bottom: 8%;
    border-radius: 50%;
    transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}

.photo:hover {
    transform: scale(2.0);
    box-shadow : 0 0 10px rgba(0, 0, 0, 0.5)
}

p {
    color: rgb(0, 0, 0);
}

.button-box {
    display: flex;
    justify-content: center;
}

